/* Typography */

h1, h2 {
  font-family: 'Press Start 2P', cursive;
}


/* Layout */

body {
  background-color: rgb(220, 223, 191);
}

.title {
  text-align: center;
  color: #000000;
  margin-top: 50px;
  margin-bottom: 100px;

}

.card {
  background-color: #ffffff:
  -webkit-box-shadow: 0px 19px 72px -18px rgba(0,0,0,0.37);
  -moz-box-shadow: 0px 19px 72px -18px rgba(0,0,0,0.37);
  box-shadow: 0px 19px 72px -18px rgba(0,0,0,0.37);
  padding: 20px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

#cardPomodoro {

}

#cardVideo {

}

#cardDone {

}

#counter {
  text-align: center;
  margin-top: 50px
}
